@charset "UTF-8";

/*-----------------------public start----------------------*/
$border-color:#d8d8d8;
$font-color999:#999;
$font-color666:#666;
$font-color333:#333;
$bg-colorf8f8f8:#f8f8f8;
$color-red:#e02d2a;

%wrap-100p{
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
%wrap-95p{
  margin: 0 auto;
  width: 95.3125%;
  overflow: hidden;
}
/*实心按钮*/
%btn-s{
  height: 29px;
  line-height: 29px;
  border-radius: 2px;
  text-align: center;
  color: #ffffff;
  font-size: 1.4em;
  font-family: "microsoft yahei";
}
@media screen and (min-width: 768px){
  %btn-s{
    height: 58px;
    line-height: 58px;
    font-size: 2.2em;
  }
}
/*全宽实心btn*/
%btn-100s{
  width: 100%;
  height: 38px;
  line-height: 38px;
  border-radius: 2px;
  text-align: center;
  color: #ffffff;
  font-size: 1.4em;
  font-family: "microsoft yahei";
}
@media screen and (min-width: 768px){
  %btn-100s{
    height: 75px;
    line-height: 75px;
    font-size: 2.2em;
  }
}
/*空心btn*/
%btn-k{
  height: 28px;
  line-height: 28px;
  border-radius: 2px;
  text-align: center;
  color: $font-color666;
  font-size: 1.4em;
  font-family: "microsoft yahei";
  background-color: transparent;
  border: 1px solid $font-color999;
}
@media screen and (min-width: 768px){
  %btn-k{
    height: 56px;
    line-height: 56px;
    font-size: 2em;
  }
}
/*加载中btn*/
button.load-btn{
  background: #c9c9c9;
}
button.disable{
  background: #c9c9c9 !important;
}
/*加减数量item*/
.select-number{
  float: left;
  width: 88px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid $border-color;
  font-size: 1.4em;
  span{
    width: 24px;
    height: 25px;
    float: left;
  }
  .left{
    border-right: 1px solid $border-color;
  }
  .right{
    border-left: 1px solid $border-color;
  }
  .select-number-input{
    float: left;
    width: 38px;
    height: 25px;
    border: 0 none;
    text-align: center;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 768px){
  .select-number{
    width: 178px;
    height: 50px;
    line-height: 50px;
    font-size: 2.2em;
    span{
      width: 48px;
      height: 50px;
    }
    .select-number-input{
      width: 76px;
      height: 50px;
      font-size: 1.4em;
    }
  }
}

/*input输入框*/
input[type="text"],
input[type="tel"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 0;
}
%input-text{
  height: 30px;
  border: 1px solid $border-color;
  font-size: 1.4em;
  text-indent: 1em;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 0;
}
@media screen and (min-width: 768px){
  %input-text{
    height: 60px;
    border: 1px solid $border-color;
    font-size: 2.2em;
  }
}

/*textarea 文本框*/
textarea{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 0;
}
%input-textarea{
  border: 1px solid $border-color;
  font-size: 1.2em;
  text-indent: 1em;
  display: block;

}
@media screen and (min-width: 768px){
  %input-textarea{
    border: 1px solid $border-color;
    font-size: 2.2em;
    display: block;
  }
}
/*checkbox */
input[type="checkbox"] {
  width: 12px;
  height: 12px;
  border: 1px solid $border-color;
  border-radius: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type="checkbox"]:checked {
  background: image-url("checked.png") 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
@media screen and (min-width: 768px){
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
}
/*select 下拉框*/
.select-wrap {
  position: relative;
  margin-bottom: 8px;
  display: block;
  height: 30px;
  overflow: hidden;
  border: 1px solid $border-color;
  font-size: 1.4em;
  background: #fff;
  .select-draw-con{
    position: absolute;
    font-size: 1em;
    z-index: 2;
    width: 120%;
    height: 30px;
    color: #999;
    text-indent: 1em;
    background-color: transparent;
    border: 0 none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "microsoft yahei";
  }
  .logo {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-left: 1px solid $border-color;
    background: url(../img/iconfont-down.png) 50% 50% no-repeat;
    -webkit-background-size: 18px auto;
    background-size: 18px auto;
  }
  .icon-arrow-down{
    margin: 5px 0 0 5px;
    width: 20px;
    height: 20px;
    fill: #bcbcbd;
  }
}
@media screen and (min-width: 768px){
  .select-wrap {
    height: 60px;
    font-size: 2.2em;
    .select-draw-con {
      height: 60px;
      font-size: 1em;
      color:#999;
    }
    .logo {
      width: 60px;
      height: 60px;
      -webkit-background-size: 35px auto;
      background-size: 35px auto;
    }
    .icon-arrow-down{
      margin: 11px 0 0 11px;
      width: 40px;
      height: 40px;
    }
  }
}

/*顶部弹框*/
.my-bank-alert {
  a{
    color:#fff;
    span{
      float: left;
    }
    img{
      width: 12px;
      padding-top:5px;
      float: left;
    }
  }
  padding: 12px 0;
  position: fixed;
  top: 0;
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, .7);
  background-image: image-url("icon/alert.png");
  background-repeat: no-repeat;
  background-position: 2% 50%;
  background-size: 28px auto;
  p {
    margin: 0 auto;
    padding:0;
    width: 74%;
    font-size: 1.4em;
  }
  .close {
    position: absolute;
    top: -2px;
    right: 10px;
    font-size: 2.8em;
  }
}
@media screen and (min-width: 768px){
  .my-bank-alert{
    a{
      color:#fff;
      span{
        float: left;
      }
      img{
        width: 22px;
        padding-top:4px;
        float: left;
      }
    }
    background-color: rgba(0, 0, 0, .7);
    background-image: image-url("icon_2x/alert.png");
    background-repeat: no-repeat;
    background-position: 2% 50%;

    padding: 10px 0;
    background-size: 44px auto;
    p{
      font-size: 1.8em;
    }
    .close{
      top: -12px;
      font-size: 4em;
    }
  }
}
/*支付弹窗*/
.overlay{
  display: none;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
}
.alert-pay{
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 10;
  padding: 0 15px;
  margin-left: -127px;
  width: 224px;
  background: #fff;
  P{
    padding: 25px 0 15px;
    text-align: center;
    font-size: 1.4em;
    color: #000000;
  }
  .alert-pay-btn{
    @extend %btn-100s;
    margin-bottom: 14px;
  }
  .green{
    background: #3cb035;
  }
  .orange{
    background: #fb6c24;
  }
  .close{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    border-radius: 14px;
    border: 1px solid $border-color;
    text-align: center;
    font-weight: bold;
  }
}
@media screen and (min-width: 768px){
  .alert-pay{
    padding: 0 30px;
    margin-left: -224px;
    width: 448px;
    background: #fff;
    P{
      padding: 50px 0 30px;
      font-size: 2.2em;
    }
    .alert-pay-btn{
      margin-bottom: 28px;
    }
    .close{
      top: 10px;
      right: 10px;
      width: 28px;
      height: 28px;
      line-height: 28px;
      border-radius: 28px;
      font-weight: bold;
      font-size: 1.4em;
    }
  }
}

/*确认弹窗*/
.alert-affirm{
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-left: -94px;
  padding: 0 14px;
  width: 160px;
  background: rgba(0,0,0,.6);
  p{
    padding: 15px 0;
    text-align: center;
    color: #ffffff;
    font-size: 1.4em;
  }
  .alert-affirm-logo{
    margin: 15px auto 0 auto;
    display: block;
    width: 60px;
    height: 60px;
  }
  .alert-affirm-btn{
    @extend %btn-s;
    margin-bottom: 15px;
    width: 74px;
  }
  .left-btn{
    background: $color-red;
    float: left;
  }
  .right-btn{
    background: #cfcfcf;
    float: right;
  }
}
@media screen and (min-width: 768px){
  .alert-affirm{
    margin-left: -188px;
    padding: 0 28px;
    width: 320px;
    p{
      padding: 30px 0;
      font-size: 2.2em;
    }
    .alert-affirm-logo{
      margin: 30px auto 0 auto;
      width: 120px;
      height: 120px;
    }
    .alert-affirm-btn{
      margin-bottom: 30px;
      width: 148px;
    }
  }

}
/*-----------------------public end----------------------*/


* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  height: 100%;
}

body {
  line-height: 1.5;
  color: #666;
  height: 100%;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}

a {
  color: #666;
  text-decoration: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, em, span, i, strong {
  font-weight: normal;
  font-style: normal;
}

img {
  width: 100%;
  max-width: 100%;
  border: 0 none;
}

li {
  list-style-type: none;
}
button{
  border: 0 none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="text"]{
  outline: 0 none;
  -webkit-tap-highlight-color: transparent;/*ios私有*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*屏蔽苹果手机样式 */
input[type="button"], input[type="submit"], input[type="reset"] {

  -webkit-appearance: none;
}
/*-----------------------footer----------------------*/
.fix-bottom{
  position: fixed;
  bottom: 0;
}
.footer{
  padding-bottom: 50px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1.2em;
  color: #a7a7a7;
  clear:both;
}
.mod-foot-nav{
  position: fixed;
  z-index: 9;
  bottom: 0;
  @extend %wrap-100p;
  height: 50px;
  background: $font-color333;
  border-top: 1px solid #000;
}

.foot-nav-list{
  //margin-left: 10px;
  height: 50px;
  overflow: hidden;
  li{
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    font-size: 1.2em;
    text-align: center;
  }
  span{
    position: absolute;
    top: 2px;
    right: 14px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 1em;
    background: $color-red;
    color: #ffffff;
  }
  .foot-nav-icon{
    fill: currentColor;
    position: absolute;
    top: 9px;
    left: 50%;
    margin-left: -10px;
    width: 22px;
    height: 22px;
    display: block;
  }
  .foot-nav-tt{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  a{
    display: block;
    color: #ffffff;
  }
  .flg-icon a{
    color: $color-red;
  }
}

.search{
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0;
  margin: 0 auto;
  //width: 318px;
  width: 100%;
  height: 50px;
  .search-btn{
    @extend %btn-s;
    margin-top: 10px;
    width: 36px;
    height: 25px;
    line-height: 25px;
    background: $color-red;
  }
  .icon-iconfont-left{
    margin: 15px 10px 0 12px;
    float: left;
    fill: #535353;
    width: 14px;
    height: 25px;
  }
}
.search-input-wrap{
  position: relative;
  margin-top: 10px;
  margin-right: 6px;
  float: left;
  width: 70%;
  .search-input{
    width: 100%;
    height: 25px;
    background-color: #535353;
    border-radius: 2px;
    border: 0 none;
    font-size: 1.2em;
    color: #ffffff;
    font-family: "microsoft yahei";
    text-indent: 2.6em;
  }
  .search-log{
    padding-right: 6px;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 12px;
    height: 12px;
    border-right: 1px solid #fff;
    fill: #fff;
  }
}

.mod-foot-nav:target .search{
  -webkit-animation: in-put .3s ease-out;
  -o-animation: in-put .3s ease-out;
  animation: in-put .3s ease-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.mod-foot-nav:target .foot-nav-list{
  display: none;
}

@keyframes in-put {
  0%{
    opacity: 0;
    left: -100%;
  }
  100%{
    opacity: 1;
    left: 0;
  }
}
@-webkit-keyframes in-put {
  0%{
    opacity: 0;
    left: 100%;
  }
  100%{
    opacity: 1;
    left: 0;
  }
}

.show-foot-nav{
  li{
    &:nth-of-type(1){
      width: 15%;
    }
    &:nth-of-type(2){
      width: 15%;
    }
    &:nth-of-type(3){
      width: 70%;
      margin-top: 8px;
    }

  }
  span{
    right: 0;
  }
  .show-foot-nav-btn{
    @extend %btn-s;
    margin: 0 auto;
    width: 90%;
    height: 36px;
    background: $color-red;
    font-size: 1.2em;
    display: block;
  }
  .color-yellow{
    background-color: #ff8522;
  }
}

@media screen and (min-width: 768px) {
  .footer{
    padding-bottom: 100px;
    height: 80px;
    line-height: 80px;
    font-size: 2em;
  }
  .mod-foot-nav{
    height: 100px;
  }
  .foot-nav-list{
    height: 100px;
    li{
      position: relative;
      font-size: 2em;
      height: 100%;
    }
    span{
      position: absolute;
      top: 8px;
      right: 54px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 30px;
    }
    .foot-nav-icon{
      fill: currentColor;
      position: absolute;
      top: 22px;
      left: 50%;
      margin-left: -22px;
      width: 44px;
      height: 44px;
      display: block;
    }

  }
  .search{
    margin: 0 auto;
    //width: 634px;
    height: 100px;
    .search-btn{
      margin-top: 20px;
      width: 74px;
      height: 50px;
      line-height: 50px;
      background: $color-red;
    }
    .icon-iconfont-left{
      margin: 30px 20px 0 24px;
      float: left;
      fill: #535353;
      width: 30px;
      height: 50px;
    }
  }
  .search-input-wrap{
    position: relative;
    margin-top: 20px;
    margin-right: 15px;
    float: left;
    .search-input{
     // width: 470px;
      width: 100%;
      height: 50px;
      background-color: #535353;
      border-radius: 2px;
      border: 0 none;
      font-size: 2em;
      color: #ffffff;
      font-family: "microsoft yahei";
      text-indent: 3em;
    }
    .search-log{
      padding-right: 15px;
      position: absolute;
      top: 14px;
      left: 14px;
      width: 24px;
      height: 24px;
      border-right: 1px solid #fff;
      fill: #fff;
    }
  }

  .show-foot-nav .show-foot-nav-btn{
    margin-top: 12px;
    height: 68px;
  }
  .show-foot-nav{

    span{
      right: 20px;
    }
  }

}

/*-----------------------foot end----------------------*/

/*-----------------------aside-item start----------------------*/
.aside-item{
  position: fixed;
  z-index: 9;
  right: 0;
  top: 50%;
  width: 42px;
  div{
    margin-bottom: 4px;
    width: 42px;
    height: 42px;
    background-color: rgba(0,0,0,0.6) ;
    /*&:nth-of-type(1){
      background: rgba(0,0,0,0.6) url(../img/iconfont-93.png) center center no-repeat;
      -webkit-background-size: 32px auto;
      background-size: 22px auto;
    }
    &:nth-of-type(2){
      background: rgba(0,0,0,0.6) url(../img/iconfont-sh.png) center center no-repeat;
      -webkit-background-size: 32px auto;
      background-size: 22px auto;
    }
    &:nth-of-type(3){
      background: rgba(0,0,0,0.6) url(../img/iconfont-sh.png) center center no-repeat;
      -webkit-background-size: 32px auto;
      background-size: 22px auto;
    }*/
  }
  .aside-item-icon{
    margin: 5px 0 0 6px;
    width: 32px;
    height: 32px;
    fill: #fff;
  }
}

@media screen and (min-width: 768px) {
  .aside-item{
    position: fixed;
    right: 0;
    top: 50%;
    width: 64px;
    div{
      margin-bottom: 2px;
      width: 64px;
      height: 64px;
      /*&:nth-of-type(1){
        background: rgba(0,0,0,0.6) url(../img/iconfont-93.png) center center no-repeat;
        -webkit-background-size: 64px auto;
        background-size: 44px auto;
      }
      &:nth-of-type(2){
        background: rgba(0,0,0,0.6) url(../img/iconfont-sh.png) center center no-repeat;
        -webkit-background-size: 64px auto;
        background-size: 44px auto;
      }
      &:nth-of-type(3){
        background: rgba(0,0,0,0.6) url(../img/iconfont-sh.png) center center no-repeat;
        -webkit-background-size: 32px auto;
        background-size: 44px auto;
      }*/
    }
    .aside-item-icon{
      margin: 12px 0 0 12px;
      width: 42px;
      height: 42px;
      fill: #fff;
    }
  }
}
/*-----------------------aside-item end----------------------*/


/*-----------------------loading begin----------------------*/
.loading{
  position: fixed;
  top: 38%;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  border-radius: 4px;
  background: rgba(0,0,0,0.8);
  font-size: 1em;
  p{
    margin-top: 10px;
    text-align: center;
    font-size: 1.4em;
    color: #ffffff;
  }
  .load-gif{
    margin-left: -15px;
    margin-bottom: 20px;
    position: relative;
    top: 14px;
    left: 50%;
    width: 30px;
    height: 30px;
  }
}
.add-gif{
  width: 22px;
  height: 22px;
  vertical-align: middle;
}
@media screen and (min-width: 768px){
    .loading{
      top: 76px;
      left: 50%;
      margin-left: -80px;
      width: 160px;
      height: 160px;
      font-size: 2em;
      p{
        margin-top: 25px;
      }
      .load-gif{
        margin-left: -30px;
        margin-bottom: 40px;
        position: relative;
        top: 28px;
        left: 50%;
        width: 60px;
        height: 60px;
      }
    }
  .add-gif{
    width: 44px;
    height: 44px;
  }
}
/*-----------------------loading end----------------------*/