@charset "UTF-8";
@import "rest";

input[type="button"], input[type="submit"], input[type="text"] {

  -webkit-appearance: none;
}
select [name="unit"]{
  -webkit-appearance: none;
}

body{background: #fff;
  margin: 0;
  padding: 0;
  font-family: "microsoft yahei";
}
li{list-style:none;
  margin: 0;
  padding: 0;}
a{
  text-decoration: none;}
ul{
  margin: 0;
  padding: 0;}
p{
  margin: 0;
  padding: 0;}
img{
  width: 100%;}
option{
  padding: 0;
  margin: 0;}
select{
  border: none;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border: solid 1px #d3d3d3;
  border-radius: 64px;
  -webkit-border-radius:64px;
  -moz-border-radius:64px;
  -o-border-radius:64px;
}
input::-webkit-input-placeholder{
  color: #999;
}
input::-moz-placeholder{
  color: #999;
}
select[name="dd"]{
  -webkit-appearance: none;
}

.bill_top{
  line-height:40px;
  color:#666;
  font-size:1.4em;
  width: 95%;
  margin: 0 auto;
  font-weight: 200;
  overflow: hidden;

}

.bill_1{
  color: #999;
  font-size:1.4em;
  line-height:22px;
  border-top: 1px solid #d3d3d3;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px;
}
.bill_1 .bill_1_char{
  float:right;
  width: 24px;
  margin-top: 6px;
  margin-right:12px;}
.bill_1_char a{
  margin-bottom: 15px;
}
.bill_1 li{
  float: left;}

.bill_1_img{
  margin-top:20px;
  margin-right:12px;
  width:24px;
}
.bill_1_button{
  @extend %btn-100s;
  border-radius: 2px;
  -o-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  text-align: center;
  background: #dd2f2f;
  display: block;
  width: 95%;
  margin: 0 auto;
  margin-top: 14px;

}
/*-----------------------购物车----------------------*/

.bill_top p{
  float: right;}
.bill_top p:first-child{
  float:left;}
.bill_top p span{color: #e02d2a;}
.cart_char{
  padding: 0;
  width: 95%;
  margin: 0 auto;
  padding-top: 6px;
  padding-bottom: 6px;
  overflow: hidden;

  border-top: 1px solid #d3d3d3;
}

.cart_char_0{
  padding: 0;
  width: 95%;
  margin: 0 auto;
  padding-top:6px;
  padding-bottom:6px;
  overflow: hidden;
  border-bottom: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  }
.bliiBox{
  padding: 0;
  width: 95%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  border-top: 1px solid#d3d3d3;
}

.cart_char_1{
  margin-top: 5px;
  width: 67px;

}
.cart_char_1 img{
  width: 67px;
  height:67px;
  border:1px #999 solid;
}

.cart_char_2{
  width: 43%;
  margin-left: 2%;
  line-height:20px;
  color: #666;}
.cart_char_2 span{
  color:#e02d2a;
}
.cart_char_2 p{
  font-size: 1.4em;
}
.cart_char_2 p:first-child{
  height: 58px;
  overflow: hidden;
  text-overflow: ellipsis;

}

.cart_char_3{
  width:25%;
  float: right;
  line-height:20px;
  color:#999;
  font-size: 1.4em;
  text-align: right;}
.cart_char_3 img{
  margin-top:19px;
  width: 17px;
}

.cart_char_4{
  color: #999;
  float: left;
  margin-right: 5px;
  line-height: 26px;
  font-size: 1.4em;

}
.cart_char_4 div{
  width: 26px;
  line-height: 26px;
  float: left;
  border-top: 1px #999 solid;
  border-bottom: 1px #999 solid;
  border-left: 1px #999 solid;
  text-align: center;
}
.cart_char_4_1{
  line-height: 26px;
  color: #666;}
.cart_char_5{
  width: 70%;

  color: #999;
}
.cart_char_5 p:first-child{

  color: #666;
}
.cart_char_5 p{
  width: 100%;
  font-size: 1.4em;
  line-height: 34px;
}
.cart_char_6 img{
  margin-top:40px;
  width:15px;
}
.cart_char_8 img{
  margin-top:60px;

  width:15px;
}

.shop_new_img img{
  margin-top:45px;
  width: 20px;

}
.cart_char_7{
  color: #666;
  font-size: 1.4em;
  line-height: 34px;
}
.cart_char_text{
  line-height: 34px;
  color: #999;
  overflow: hidden;



}
.cart_char_text_1{
  font-size: 1.4em;
  line-height: 31px;
  color: #999;
  width: 100%;
  height: 31px;
  float: left;
  background: #fff;
  border: none;
  padding-left:1px;

}
.cart_char_sel{

  text-align: left;
  padding: 0;
  margin: 0;
  width:70%;
  -webkit-appearance: none;
  font-size: 1.4em;
  line-height: 31px;
  color: #999;
  background: #fff;
  border: none;
  float: left;
}
.cart_char_text span{

  overflow: hidden;  }

.cart_char_selBox{
  width: 67%;
  display: block;
  height:31px;
  border: 1px solid #999;
  overflow: hidden;
}
.cart_char_selBox img{
  width: 34px;
  float: right;
  height:34px;

}
.cart_char_selBox_1{
  width: 76%;
  display: block;
  height:34px;
  border: 1px solid #999;
  overflow: hidden;
}
.cart_char_selBox_1 img{
  width: 34px;
  float: right;
  height:34px;

}
.cart_char_text_char{
  width:30%;
  float: left;
  font-size: 1.4em;
  color:#666;
  line-height: 31px;
}

.cart_char_text_char_0{
  font-size: 1.4em;
  width:22%;
  float: left;
  color:#666;
}
.cart_char_text_2{
  width: 99%;
  float: left;
  margin: 0 auto;
  border: 1px solid #d3d3d3;
  color:#999;
  height: 75px;
  margin-bottom: 15px;

}
.cart_char_text_2_1{
  width: 90%;
  padding-left:10px;
  padding-top: 10px;
  overflow: auto;
  -webkit-appearance: none;
  margin: 0 auto;
  line-height: 34px;
  text-align: left;
  background: #fff;
  font-size: 1.4em;
  border: none;
  color:#999;
  height: 55px;
}
.cart_btn{
  @extend %btn-100s;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  float: left;
}

.green{
  background: #3cb035;
}
.grey{
  background: #c9c9c9;
}
.orange{
  background: #fb6c24;
}
.cart_text{
  overflow:hidden;
  padding: 0;
  margin: 0 auto;
  width:95%;


}
.cart_text p{
  font-size: 1.4em;
  margin-bottom:10px;
  line-height: 40px;
}
/*-----------------------购物车空----------------------*/
.shop_null_img{
  width: 65px;
  margin: 0 auto;
  margin-bottom: 17px;
  padding-top:35px;
}
.shop_null_char{
  color: #666666;
  font-size: 1.4em;
  line-height: 28px;
  text-align: center;
  margin-bottom:31px;
}

.shop_null_button a{
  display: block;

  width: 40%;
  margin: 0 auto;
  height: 28px;
  line-height: 28px;
  border-radius: 2px;
  -o-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  text-align: center;
  color: #666;
  font-size: 1.4em;
  background-color: transparent;
  border: 1px solid #999;
  margin-top:40px;
}


/*---------------------重新付款------------------------*/
.shop_new{
  color: #999;
  font-size: 1em;
  line-height: 34px;
  width: 250px;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  float: left;
}
.shop_new span{
  color: #666;
}
.shop_new_img{

}
/*-----------------------发票地址----------------------*/
.cart_input{

  color:$font-color666;
  line-height: 27px;
}
/*-----------------------支付失败----------------------*/
.paym_botton{
  width: 100%;
  margin: 0 auto;
}
.paym_botton a{
  display: block;
  float: left;
  width:38%;
  margin:40px 5%;
  margin-bottom:0px;
  height: 28px;
  line-height: 28px;
  border-radius: 2px;
  -o-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  text-align: center;
  color: #666;
  font-size: 1.4em;
  background-color: transparent;
  border: 1px solid #999;

}
.paym_char{
  float: left;
  text-align: center;
  color: #666;
  font-size: 1.4em;
  height: 37px;
  width: 97%;
  margin: 0 auto;
  margin-top:10px;
}
.paym_char span{

  color: #0974d9;

}

/*-----------------------加盟----------------------*/
.league_char{
  text-align: left;
  color: #666;
  font-size: 1em;
  height: 25px;
  margin-left:7%;
  margin-right:6%;
}

.league_char a{
  color: #0974d9;
  font-size: 1em;
  height: 28px;
}






/*-----------------------loading----------------------*/
.loading{
  color: $font-color999;
  margin-top: 131px;
  text-align: center;
  font-size: 1.6em;
}
@media screen and (max-width: 768px){
  .bill_1 p{
    width: 200px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
  }

}
@media screen and (min-width: 768px){
  .cart_char{
    padding-top:12px;
    padding-bottom:12px;
  }
  .cart_char_0{
    padding-top:12px;
    padding-bottom:12px;
    }
  .bill_1_char a{
    margin-bottom:30px;
  }
  .cart_text p .shop_new{
    font-size: 2.2em;
  }
  .bill_top{
    font-size:2.2em;
    line-height: 80px;
  }
  .bill_1{
    margin-top: 20px;
    padding-bottom: 20px;
    font-size:2em;
    line-height: 44px;
  }
  .bill_1 .bill_1_char{
    width: 34px;
    margin-right: 34px;
    margin-top: 30px;
  }
  .bill_1 p{
    width: 100%;}
  .bill_1_img{
    margin-right: 34px;
    margin-top:49px;
    width:30px;}
  .cart_char_2{
    width: 60%;
    line-height: 34px;
    margin-left: 2%;
  }
  .cart_char_1{
    width: 23%;
  }
  .cart_char_1 img{
    width:134px;
    height:134px;
    border:1px #999 solid;
  }
  .cart_char_2 p{

    width: 70%;
    font-size:1.8em;
  }
  .cart_char_2 p:first-child{
    height:76px;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  .cart_char_3{
    width:15%;
  }
  .cart_char_3 img{
    margin-top:38px;
    width:34px;}
  .cart_char_3 p{
    font-size: 1.6em;
    line-height: 40px;

  }
  .cart_char_4{
    font-size: 2.2em;
    line-height: 52px;}
  .cart_char_5 p{
    line-height: 40px;
    font-size: 2.2em;

  }
  .cart_char_6 img{
    margin-top:35px;

    width: 25px;
  }
  .cart_char_8 img{
    width: 25px;
  }
  .shop_new_img img{
    width: 35px;
  }
  .cart_char_7{
    font-size: 2.2em;
  }
  .bill_1_button{
    height: 74px;
    line-height: 74px;
    font-size: 2.4em;
    margin-top: 36px;
  }
  .shop_null_img{
    width: 130px;
    margin: 0 auto;
    margin-bottom: 34px;
    padding-top: 70px;
  }
  .shop_null_char{
    line-height: 56px;
    font-size: 2.4em;
    margin-bottom: 68px;
  }

  .shop_null_button a{
    height: 56px;
    line-height: 56px;
    font-size: 2.4em;
    margin-top: 80px;
  }

  .paym_botton a{
    height: 56px;
    line-height: 56px;
    font-size: 2.4em;
    margin-top: 80px;
  }
  .cart_char_text_char{
    line-height: 62px;
    width:20%;
    font-size: 2.2em;
  }
  .cart_char_text_char_0{
    line-height: 62px;
    font-size: 2em;
    width:15%;
    float: left;
    color:#666;
  }
  .cart_char_selBox{
    width: 78%;
    height: 62px;
  }
  .cart_char_selBox_1{
    width: 84%;
    height: 62px;
  }

  .cart_char_text_1{
    line-height: 62px;
    height: 62px;
    font-size: 2em;

  }
  .cart_button a{
    height: 56px;
    line-height: 56px;
    font-size: 2.2em;
  }
  .cart_char_selBox img{
    width: 62px;
    height: 62px;
  }
  .cart_char_selBox_1 img{
    width: 62px;
    height: 62px;
  }
  .cart_char_sel{
    line-height: 62px;
    height: 62px;
    font-size: 2em;
  }

  .cart_char_text_2{
    height: 100px;
    margin-bottom: 30px;
  }
  .cart_char_text_2_1 {
    padding-left: 20px;
    font-size:2.4em;
    height: 90px;
  }
  .cart_input{

    line-height: 54px;
  }
  .shop_new{
    font-size: 2em;
    line-height: 78px;
    width: 100%;
    float: left;
  }
  .cart_text p{
    font-size: 2em;
    line-height: 60px;
    margin-bottom: 20px;
    font-family:"microsoft yahei";

  }
  .paym_char{
    font-size: 2em;
    line-height: 74px;
  }
  .league_char{

    font-size:1.8em;
    height: 50px;
    margin-left: 25%;
    margin-right: 25%;

  }
  .loading{
    margin-top: 262px;

    font-size: 1.8em;
  }
  .cart_char_4 div{
    width: 52px;
    line-height: 52px;
  }
}

.ticket-b{
  padding: 6px 0px;
  margin:6px 0px;
  overflow: hidden;
  font-size: 1.4em;
  color:#666;
  display: block;
  span{
    margin: 0px 5px;
  }
}
@media screen and (min-width: 768px){
  .ticket-b{
    padding: 8px 0px;
    margin:8px 0px;
    overflow: hidden;
    font-size: 2em;
    color:#666;
    display: block;
    span{
      margin: 0px 5px;
    }
  }
}

.add {
  margin: 0px 10px;
  h4 {
    line-height: 300%;
    font-size: 1.6em;
    border-bottom: 1px solid #d3d3d3;
    overflow: hidden;
    display: block;
  }
}
.ad{
   width: 95%;
  margin: 0 auto;
  h4 {
    color: #666;
    line-height: 300%;
    font-size: 1.6em;
    overflow: hidden;
    display: block;
  }
}
@media screen and (min-width: 768px) {

  .ad{

    h4 {

      font-size:2.4em;

    }
  }

}

.sit_botton{
  line-height: 34px;
  margin-bottom:5px;
  font-size: 1.4em;

}
.cart_char_0{
  a{
    width: 100%;
    line-height:34px;
    display: block;
    color:$font-color999;
    background:url("../img/icon/right-s-line.png") 100% 50% no-repeat;
    background-position: right;
    overflow: hidden;

  }
}
.cart_char{
  a{
    width: 100%;
    display: block;
    background:url("../img/icon/right-s-line.png") no-repeat;
    background-position: right;
    overflow: hidden;

  }
}
@media screen and (min-width: 768px) {

  .sit_botton{
    font-size: 2.2em;
    line-height: 68px;
  }
  .cart_char_0{
    a{
      width:100%;
      line-height:68px;


    }
  }
  .cart_char{
    a{
      width:100%;
      line-height:68px;


    }
  }
}
.yixiang{
  position: fixed;bottom: 60px;
  font-size: 1.2em;
  text-align: center;
  width: 100%;
}
.yixiang_1{
  position: fixed;bottom: 15px;
  font-size: 1.4em;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .yixiang{
    position: fixed;bottom: 110px;
    font-size: 1.8em;
    text-align: center;
    width: 100%;
  }
  .yixiang_1{
    position: fixed;bottom: 30px;
    font-size: 1.8em;
    text-align: center;
    width: 100%;
  }

}

.add_0{
  margin-bottom: 8px;
}
.add{
  margin: 0px 10px;
  h4{
    line-height: 300%;
    font-size: 1.6em;
    border-bottom: 1px solid  #d3d3d3;
    overflow: hidden;
    display: block;
  }
  .add-box-box{
    border-bottom: 1px solid  #d3d3d3;
    padding: 5px 0px;
    overflow: hidden;

    display: block;
    .add-box-l{
      width: 10%;
      height:100%;
      float:left;
      overflow: hidden;
      display: block;
      img{
        width: 60%;
        margin-top: 20px;
      }
    }
    .add-box-c{
      width: 76%;
      float:right;
      font-size: 1.4em;
      line-height: 180%;
      span{
        color:#999;
        padding-right: 10px;
      }
    }
    .add-box-r{
      width:10%;
      float: right;
      a{
        margin: 7px 0px;
        img{
          width: 80%;
          padding: 4px 0;
        }
      }
    }
  }

}
.user-add{
  @extend %btn-100s;
  width: 94%;
  margin: 3%;
  background:#e02d2a ;
  border: 0;
}
@media screen and (min-width: 768px) {
  .add{
    margin: 0px 10px;
    overflow: hidden;
    display: block;
    padding-bottom:20px;
    h4{
      font-size: 2.4em;
    }
    .add-box-box{
      .add-box-l{
        width: 10%;
        height:100%;
        float:left;
        overflow: hidden;
        display: block;
        img{
          width: 40%;
          margin-top: 25px;
        }
      }
      .add-box-c{
        font-size: 2em;
        span{
          color:#999;
          padding-right: 20px;
        }
      }
      .add-box-r{
        width:10%;
        float: right;
        a{
          margin: 7px 0px;
          display: block;
          img{
            width: 30%;
            padding: 1px 0;
          }
        }
      }
    }
  }
  .user-add{
    background:#e02d2a ;
    width: 98%;
    width: 98%;
    border: 0;
    margin:1%;

  }
}

.add-add{
  padding: 4px 0px;
  margin:4px 0px;
  overflow: hidden;
  color:#666;
  display: block;
  clear: both;
  .add-l{
    width: 30%;
    float:left;
    font-size: 1.4em;
    line-height: 30px;

  }
  .add-l2{
    width: 20%;
    float:left;
    font-size: 1.4em;
    line-height: 30px;

  }
  .add-r{
    width: 69%;
    float:left;
    .add-srk{
      @extend %input-text;
      width: 100%;
      color:$font-color999;
      font-size: 1.4em;
      font-family: "microsoft yahei";
    }
    textarea{
      border: 1px solid $border-color;
      font-size: 1.4em;
      text-indent: 8px;
      padding: 5px 0;
      color:#999;
      display: block;
      width: 100%;
    }
  }
  .add-r2{
    width: 79%;
    float:left;

    .add-srk{
      @extend %input-text;
      width: 100%;
      color:#999;
      font-size: 1.4em;
      height: 30px;
      line-height: 30px;
    }
    textarea{
      border: 1px solid $border-color;
      font-size: 1.4em;
      text-indent: 8px;
      padding: 5px 0;
      color:#999;
      display: block;
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .add {
    margin: 0px 10px;
    overflow: hidden;
    display: block;
    padding-bottom: 20px;
    h4 {
      font-size: 2.4em;
    }
  }
  .add-add{
    padding: 8px 0px;
    margin:8px 0px;
    overflow: hidden;
    display: block;
    clear: both;
    .add-l{
      width: 30%;
      float:left;
      color:#666;
      font-size: 2.2em;
      line-height: 60px;

    }
    .add-r{
      width: 69%;
      float:left;
      font-size: 1.8em;
      .add-srk{
      font-size:1em;
        line-height: 60px;
      }

      textarea{
        border: 1px solid $border-color;
        font-size: 1.8em;
        text-indent: 8px;
        padding: 5px 0;
        color:#999;
        display: block;
        width: 100%;
      }
    }
  }
  .add-add{
    padding: 8px 0px;
    margin:8px 0px;
    overflow: hidden;
    display: block;
    clear: both;
    .add-l2{
      width: 10%;
      float:left;
      color:#666;
      font-size: 1.8em;
      line-height: 60px;

    }
    .add-r2{
      width: 69%;
      float:left;
      font-size:1.8em;
      .add-srk{
      font-size:1em;
        height: 60px;
      }

      textarea{
        border: 1px solid $border-color;
        font-size: 1.8em;
        text-indent: 8px;
        padding: 5px 0;
        color:#999;
        display: block;
        width: 100%;
      }
    }
  }


}
.number{
   padding:0 5px;
}
.number_1{
  border-right: 1px #999 solid;
}


.right{
  float: right;
  display: block;
}
.left{
  float: left;
  display: block;
}
/*---------------alert----------------------*/


.c-float-fingPop {
  background-color: rgba(23, 23, 23, 0.9)
}

.c-float-fingPop .innerC {
  width: 180px;
  margin: 0 auto;
  padding-top: 5px
}

.c-float-fingPop .innerC .fingerImg {
  display: inline-block;
  width: 63px;
  height: 70px;
  background-image: url('http://a.tbcdn.cn/mw/base/styles/component/float/images/fingers.png')
}

.c-float-fingPop .innerC .ftxt {
  display: inline-block;
  width: 110px;
  padding: 20px 0 10px 0;
  vertical-align: top;
  color: white
}

.c-float-shakePop {
  background-color: rgba(23, 23, 23, 0.9);
  display: block;
  text-align: center;
  padding: 10px 10px 10px 10px;
  color: #fff
}

.c-float-impWarn {
  background-color: rgba(215, 23, 23, 0.9);
  display: block;
  text-align: center;
  padding: 10px 10px 10px 10px;
  color: #fff
}

.c-float-modePop {
  text-align: center;
  background-color: rgba(23, 23, 23, 0.9)
}

.c-float-modePop .warnMsg {
  padding: 10px 10px 10px 10px;
  color: #fff
}

.c-float-modePop .doBtn {
  width: 170px;
  margin: 0 auto
}

.c-float-modePop button {
  padding: 6px 9px 6px 9px;
  color: #949494;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404040), color-stop(100%, #2e2e2e));
  border: 0;
  border-radius: 2px
}

.c-float-popWrap {
  width: 230px;
  border-radius: 2px;
  z-index: 8;
  position: absolute;
  overflow: hidden
}

.c-float-popWrap .c-float-modePop {
  background-color: rgba(51, 51, 51, 0.9);
  border-radius: 2px;
  padding: 15px
}

.c-float-popWrap .c-float-modePop .warnMsg {
  padding: 0;
  font-size: 14px
}

.c-float-popWrap .c-float-modePop .content {
  margin-top: 10px
}

.c-float-popWrap .c-float-modePop .doBtn {
  width: 190px;
  margin-top: 10px
}

.c-float-popWrap .c-float-modePop button {
  width: 80px;
  height: 30px;
  line-height: 30px;
  color: #444;
  font-size: 14px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #999));
  border: 0;
  border-radius: 2px;
  padding: 0;
  margin: 10px 5px 0
}

.c-float-popWrap.hide {
  display: none;
  -webkit-box-shadow: none
}

.c-float-popWrap.show {
  display: block;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3)
}

.c-float-popWrap.msgMode .c-float-modePop .content, .c-float-popWrap.msgMode .c-float-modePop .doBtn {
  display: none
}

.c-float-popWrap.alertMode .c-float-modePop .content {
  display: none
}

.c-float-popWrap.alertMode .c-float-modePop .doBtn .cancel {
  display: none
}

.c-float-popWrap.confirmMode .c-float-modePop .content, .c-float-popWrap.confirmMode .c-float-modePop .doBtn {
  display: block
}
/*---------------alert-end----------------------*/
/*----------------loading------------------------------*/
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg)
  }
}

@-moz-keyframes loading {
  0% {
    -moz-transform: rotate(0deg)
  }
  100% {
    -moz-transform: rotate(360deg)
  }
}

@-o-keyframes loading {
  0% {
    -o-transform: rotate(0deg)
  }
  100% {
    -o-transform: rotate(360deg)
  }
}

@-ms-keyframes loading {
  0% {
    -ms-transform: rotate(0deg)
  }
  100% {
    -ms-transform: rotate(360deg)
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
.mp_loading {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9;
  margin: -60px 0 0 -120px;
  width: 240px;
  height: 60px;
  border-radius: 10px;
  background-color: rgba(0,0,0,.6);
  -webkit-transform-style: preserve-3d;
}
.mp_loading_clip {
  margin: 14px 20px 0 20px;
  float: left;
  width: 30px;
  height: 30px;
  overflow: hidden;
  -webkit-animation: loading 1.2s linear infinite;
  -moz-animation: loading 1.2s linear infinite;
  -o-animation: loading 1.2s linear infinite;
  -ms-animation: loading 1.2s linear infinite;
  animation: loading 1.2s linear infinite
}

.mp_loading_bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  overflow: hidden;
  clip: rect(0px, 20px, 40px, 0);
  background: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  -webkit-mask: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)))
}

.mp_loading_txt {
  font-size: 28px;
  width: 200px;
  height: 60px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -30px;
  text-align: center;
  color: #fff
}
.loading-wz{
  font-size: 16px;
  line-height: 60px;
  color: #ffffff;
}

//红色提示
/*simple-dialog*/
.s-dialog-mask{position:absolute;left:0px;top:0px;background-color:rgb(20, 20, 20);filter:alpha(opacity=60);opacity: 0;width:100%;z-index:-1;}
.s-dialog-wrapper{color:#fff;font-size:14px;position: fixed;z-index: 8;-webkit-transform-origin: 0px 0px; opacity: 1; -webkit-transform: scale(1, 1);}
.s-dialog-skin-green{background-color: #6cb248;border:1px solid #397908;}
.s-dialog-skin-block{background-color: #000;}
.s-dialog-skin-red{background-color: #D9434E;border:1px solid #AD0909;}
.s-dialog-content{padding: 15px 20px;}
.s-dialog-btn-wapper{border-top: 1px solid rgba(130,128,127,.5);display: -webkit-box;display: -moz-box;display:box;}
.s-dialog-btn-wapper a{-moz-box-flex:1;box-flex:1;-webkit-box-flex:1;display:block; color: #fff;text-align: center;padding:10px 0px;}

.no-record{border:1px solid #ccc;padding: 10px;text-align: center;}
//确认提示
.c-float-modePop{
  /*position: fixed;
  top: 30%;
  left: 50%;
  margin-left: -94px;
  padding: 0 14px;
  width: 160px;
  background: rgba(0,0,0,.6);*/
  .content{
    padding: 15px 0;
    text-align: center;
    color: #ffffff;
    font-size: 1.4em;
  }
  .alert-affirm-logo{
    margin: 15px auto 0 auto;
    display: block;
    width: 60px;
    height: 60px;
  }
  .doBtn {
    .ok {
      background: $color-red;
      //margin-bottom:15px;
      width: 74px;
      color: #ffffff;
      font-family:"microsoft yahei";
      margin: 0;
      padding: 0;
      margin-right: 5px;
    }
    .cancel {
      background: #cfcfcf;
      width: 74px;
      color: #ffffff;
      font-family:"microsoft yahei";
      margin: 0;
      padding: 0;
      margin-right: 5px;
    }
  }
}