@charset "utf-8";
/**
 * Created with IntelliJ IDEA. 
 * User: llc 
 * Date: 2015/1/7 
 * Time: 9:06 
 * To change this template use File | Settings | File Templates. 
 */

$bg-color:#f6f6f6;
$border-color:#ccc;
$font-color999:#999;
$font-color666:#666;
$font-color333:#333;
$red:#e02d2a;
$green:#3db73e;
$orange:#ff9900;
$blue:#2163bd;
$yellow:#ffb400;

$fz12:.6rem;
$fz14:.7rem;
$fz16:.8rem;
$fz18:.9rem;
$fz20: 1rem;
$fz22:1.1rem;
$fz24:.1.2rem;
$fz24:.1.3rem;

