@charset "utf-8";
/**
 * Created with IntelliJ IDEA.
 * User: llc
 * Date: 2015/1/15
 * Time: 11:34
 * To change this template use File | Settings | File Templates.
 */

@import "var";
@import "rest";
@import "input";
@import "btns";
@import "alert";
@import "mod-item";

/*-----------------------management-center.html start----------------------*/
.management-center-head{
  width: 100%;
  background-color: #dd2f2f;
  border-bottom: 1px solid #c80000;
}
.head-tool{
  padding: 0 .5rem;
  height: 1.75rem;
  border-bottom: 1px solid #c80000;
  overflow: hidden;
  .tool-item{
    position: relative;
    margin-top: .4em;
    width: 1.1rem;
    height: 1.1rem;
    line-height: 1.1rem;
    text-align: center;
    color: #ffffff;
    border-radius: 1.1rem;
    border: 1px solid #ca1919;
    span{
      position: absolute;
      top: -.3rem;
      right: -.5rem;
      width: .8rem;
      height: .8rem;
      line-height: .8rem;
      border-radius: .8rem;
      text-align: center;
      background-color: #ffffff;
      color: $red;
      font-size: $fz12;
    }
  }
  .icon-msg{
    float: left;
  }
  .icon-set{
    float: right;
  }
}
.head-info{
  height: 4.25rem;
  overflow: hidden;
  .head-info-pic{
    position: relative;
    float: left;
    margin: .45rem 1.125rem 0 .45rem;
    width: 3.15rem;
    height: 3.15rem;
    border-radius: 3.15rem;
    border: 2px solid #fff;
    img{
      width: 100%;
      border-radius: 3.15rem;
    }
    span{
      position: absolute;
      top: -.3rem;
      right: -.3rem;
      width: 1.25rem;
      height: 1.25rem;
      font-size: $fz14;
      text-align: center;
      line-height: 1.20rem;
      color: #ffffff;
      background: $lvbg;
      -webkit-background-size: 100% auto;
      background-size: 100% auto;
    }
  }
  h1{
    margin-top: .6rem;
    font-size: $fz18;
    color: #ffffff;
  }
  em{
    padding: 0 .4rem;
    margin-right: .4rem;
    margin-top: .3rem;
    height: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
    color: #ffffff;
    background-color: #e76e6e;
    border-radius: 4px;
    display: inline-block;
  }
}
.tab-lab{
  @extend %wrap-600;
  height: 2.5rem;
  border-bottom: 1px solid $border-color;
  li{
    margin-top: .45rem;
    float: left;
    height: 1.6rem;
    text-align: center;
    &:nth-of-type(1){
      width: 4.8rem;
    }
    &:nth-of-type(2){
      position: relative;
      width: 5.4rem;
      &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 1.6rem;
        border-left: 1px solid $border-color;
      }
      &:after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 1.6rem;
        border-right: 1px solid $border-color;
      }
    }
    &:nth-of-type(3){
      width: 4.8rem;
    }
    b,
    p{
      height: .8rem;
      line-height: .8rem;
      display: block;
    }
    b{
      font-size: $fz16;
    }
    p{
      color: $font-color999;
    }
  }
}
.function-list{
  padding-top: 1.15rem;
  @extend %wrap-600;
  li{
    margin-bottom: 1rem;
    float: left;
    width: 5rem;
    text-align: center;
    &:nth-of-type(1) .icon-logos{
      background-color: #94ce68;
    }
    &:nth-of-type(2) .icon-logos{
      background-color: #fd7247;
    }
    &:nth-of-type(3) .icon-logos{
      background-color: #fdb747;
    }
    &:nth-of-type(4) .icon-logos{
      background-color: #fa6569;
    }
    &:nth-of-type(5) .icon-logos{
      background-color: #bb69e6;
    }
    &:nth-of-type(6) .icon-logos{
      background-color: #fd4747;
    }
    &:nth-of-type(7) .icon-logos{
      background-color: #fa65c7;
    }
    &:nth-of-type(8) .icon-logos{
      background-color: #58b5e1;
    }
    &:nth-of-type(9) .icon-logos{
      background-color: #9ce158;
    }
    p{
      margin-top: .4rem;
    }
    a{
      display: block;
      color: $font-color333;
    }
  }
  .icon-logos{
    position: relative;
    margin: 0 auto;
    width: 2.55rem;
    height: 2.55rem;
    line-height: 2.55rem;
    color: #ffffff;
    border-radius: 2.55rem;
    font-size: 1.25rem;
    span{
        position: absolute;
        top: -.3rem;
        right: -.3rem;
        width: 1rem;
        height: 1rem;
        line-height: 1rem;
        border-radius: 1rem;
        text-align: center;
        font-size: $fz14;
        color: #ffffff;
        background-color: $red;
    }
  }
}
/*-----------------------management-center.html end----------------------*/

/*-----------------------personal-data.html start----------------------*/
.level-info-wrap{
  padding: 0 .5rem;
  height: 5.6rem;
  border-bottom: 1px solid $border-color;
  h2{
    height: 2.5rem;
    line-height: 2.5rem;
    border-bottom: 1px solid $border-color;
    overflow: hidden;
  }
  a{
    float: right;
    color: $blue;
  }
  .icon-lv-span{
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    background: $lvbg;
    font-size: $fz12;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    color: #ffffff;
    display: inline-block;
  }
}
.level-bar-info{
  position: relative;
  padding-top: .9rem;
  width: 100%;
  .level-bar{
    width: 100%;
    &:before{
      content: "\f600";
      font-family: icomoon;
      position: absolute;
      left: 0;
      top: .6rem;
      width: 1rem;
      height: 1rem;
      line-height: 1rem;
      text-align: center;
      font-size: $fz12;
      color: #fff;
      background: $lvbg;
      -webkit-background-size: 100% auto;
      background-size: 100% auto;
    }
    &:after{
      content: "\f605";
      font-family: icomoon;
      position: absolute;
      top: .6rem;
      right: 0;
      width: 1rem;
      height: 1rem;
      line-height: 1rem;
      text-align: center;
      font-size: $fz12;
      color: #fff;
      background: $lvbg;
      -webkit-background-size: 100% auto;
      background-size: 100% auto;
    }
    li{
      &:nth-of-type(1) {
        position: relative;
        margin: 0 auto;
        width: 12.5rem;
        height: .5rem;
        border: 1px solid $border-color;
        border-radius: .5rem;
        overflow: hidden;
        span {
          float: left;
          width: 10%;
          height: 100%;
          background-color: #ff9900;
        }
      }
      &:nth-of-type(2){
        position: absolute;
        left: 32%;
        margin-top: .3rem;
        padding: 0 .3rem;
        height: .75rem;
        line-height: .75rem;
        text-align: center;
        border: 1px solid $border-color;
        color: $font-color999;
        font-size: $fz12;
        background-color: $bg-color;
        display: inline-block;
        border-radius: 4px;
        &:before{
          content: "";
          position: absolute;
          z-index: 2;
          top: -.575rem;
          left: 50%;
          margin-left: -.15rem;
          width: 0;
          height: 0;
          border: .3rem solid transparent;
          border-bottom: .3rem solid $bg-color;
        }
        &:after{
          content: "";
          position: absolute;
          z-index: 1;
          top: -.6rem;
          left: 50%;
          margin-left: -.15rem;
          width: 0;
          height: 0;
          border: .3rem solid transparent;
          border-bottom: .3rem solid $border-color;
        }
      }
    }
  }
}
.personal-data-list{
  @extend %wrap-600;
  li{
    height: 2.25rem;
    line-height: 2.25rem;
    border-bottom: 1px solid $border-color;
    font-family: icomoon;
    i{
      float: right;
      color: $red;
    }
    span{
      color: $font-color666;
    }
    a{
      display: block;
    }
    em{
      font-size: $fz16;
    }
  }
}
/*-----------------------personal-data.html end----------------------*/

/*-----------------------my-shop.html start----------------------*/
.my-shop-head{
  height: 4.5rem;
  background-color: $red;
  .my-shop-head-pic{
    float: left;
    margin: .5rem .625rem 0 .625rem;
    width: 3.15rem;
    height: 3.15rem;
    border-radius: 3.15rem;
    border: 2px solid #fff;
    overflow: hidden;
    img{
      width: 100%;
      border-radius: 3.15rem;
    }
  }
  h2{
    padding-top: 1rem;
    font-size: $fz16;
    color: #ffffff;
  }

  a{
    display: block;
    color: #ffffff;
    font-family: icomoon;
  }
}
.column{
  @extend %wrap-600;
  height: 1.95rem;
  line-height: 1.95rem;
  border-bottom: 1px solid $border-color;
  .column-item{
    margin-top: .3rem;
    float: left;
    width: 5rem;
    height: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    font-family: icomoon;
    &:nth-of-type(1),
    &:nth-of-type(3){
      width: 4.7rem;
    }
    &:nth-of-type(2){
      position: relative;
      width: 5.6rem;
      &:after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        border-left: 1px solid $border-color;
      }
      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-right: 1px solid $border-color;
      }
    }
    span{
      width: 2.8rem;
      &:nth-of-type(1){
        float: left;
        &:after{
          content: "";
          position: absolute;
          top: 0;
          left: 2.8rem;
          height: 100%;
          border-left: 1px solid $border-color;
        }
      }
      &:nth-of-type(2){
        float: right;
      }
    }
    i{
        position: relative;
        float: right;
        width: .45rem;
        height: 1.3rem;
        font-size: $fz14;
        &:after{
          content: "\f64a";
          position: absolute;
          top: -.15rem;
          right: .3rem;
          font-size: $fz14;
          font-family: icomoon;
          color: #666;
        }
        &:before{
          content: "\f64b";
          position: absolute;
          top: .15rem;
          right: .3rem;
          font-size: $fz14;
          font-family: icomoon;
          color: #666;
        }
      }
  }
  .active-down{
    i{
      &:before{
        color: $red;
      }
    }
  }
  .active-up{
    i{
      &:after{
        color: $red;
      }
    }
  }
  .active-ft{
    color: $red;
  }
}

.shop-item-wrap{
  padding: .45rem 0;
  @extend %wrap-600;
  border-bottom: 1px dotted $border-color;
  .shop-item-pic{
    float: left;
    margin-right: .45rem;
    padding: .1rem;
    width: 3rem;
    height: 3rem;
    border: 1px solid $border-color;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    img{
      width: 100%;
    }
  }
  h2,
  p{
    margin-bottom: .34rem;
    height: .75rem;
    line-height: .75rem;
    overflow: hidden;
  }
  span{
    margin-right: .3rem;
  }
}
.my-shop-add{
  @extend %wrap-600;
  margin-top: .4rem;
  height: 5.5rem;
  border: 1px dotted $border-color;
  text-align: center;
  h2{
    color: #ccc;
    font-size: 2.75rem;
    font-family: icomoon;
  }
  p{
    color: $font-color666;
  }
}
.share-wrap{
  @extend %wrap-600;
  margin-top: .1rem;
  h2{
    padding: 1rem 0;
    text-align: center;
  }

  .my-shop-add-clear{
    text-align: center;
    line-height: 2;
  }
}
.share-list{
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid $border-color;
  li{
    margin: 0 .625rem 1rem .625rem;
    float: left;
    width: 2.5rem;
    &:nth-of-type(n+1) .icon-shares{
      background-color: #43a639;
    }
    &:nth-of-type(2n+1) .icon-shares{
      background-color: #1675ba;
    }
    &:nth-of-type(3n+1) .icon-shares{
      background-color: #eca618;
    }
    &:nth-of-type(4n+1) .icon-shares{
      background-color: #f1bd24;
    }
    &:nth-of-type(5n+1) .icon-shares{
      background-color: #2abae5;
    }
    &:nth-of-type(6n+1) .icon-shares{
      background-color: #619234;
    }
    &:nth-of-type(7n+1) .icon-shares{
      background-color: #4b89dc;
    }
    &:nth-of-type(8n+1) .icon-shares{
      background-color: #967bdc;
    }
    &:nth-of-type(9n+1) .icon-shares{
      background-color: #d870ad;
    }
    &:nth-of-type(10n+1) .icon-shares{
      background-color: #eb9532;
    }
    &:nth-of-type(11n+1) .icon-shares{
      background-color: #f76a10;
    }
    &:nth-of-type(12n+1) .icon-shares{
      background-color: #35d6b5;
    }
    p{
      margin-top: .5rem;
      text-align: center;
      font-size: $fz12;
    }
  }
  .icon-shares{
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 2.5rem;
    text-align: center;
    color: #fcfffc;
    font-size: 1.3rem;
  }
}
/*-----------------------my-shop.html end----------------------*/

/*-----------------------material-library.html start----------------------*/
.material-list{
  padding: .65rem 0;
  width: 100%;
  overflow: hidden;
  li{
    margin-left: .5rem;
    margin-bottom: .5rem;
    float: left;
    padding: .25rem;
    width: 7.25rem;
    border: 1px solid $border-color;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    img{
      width: 100%;
      border: 1px solid $border-color;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}
/*-----------------------material-library.html end----------------------*/


/*-----------------------cloud-brand-list.html start----------------------*/


/*-----------------------cloud-brand-list.html end----------------------*/

/*-----------------------cloud-brand-show.html start----------------------*/

.ident-btns-wrap{
  position: relative;
  height: 1.7rem;
  border-top: 1px solid $border-color;
  .down-btn{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -.8rem;
    width: 1.6rem;
    height: .75rem;
    line-height: .75rem;
    border: 1px solid $border-color;
    border-top: 0 none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #cccccc;
    text-align: center;
    font-family: 'icomoon';
  }
}
.shop-index-tt{
  padding: .5rem 0;
  @extend %wrap-600;
  margin-bottom: .25rem;
  border-bottom: 1px solid $border-color;
  h2{
    padding-left: .3rem;
    height: .7rem;
    line-height: .7rem;
    color: #333333;
    border-left: 2px solid $red;
    a{
      float: right;
      width: 1rem;
      height: 100%;
      line-height: .3rem;
      font-weight: bold;
    }
  }
}
.head-brand-show{
  @extend %wrap-600;
  padding-top: .45rem;
  .share-list{
    li{
      margin-bottom: 0;
      padding-bottom: .4rem;
      a{
        display: block;
        color: $font-color333;
      }
    }
    .active-brand-tab{
      position: relative;
      &:after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $red;
      }
      a{
        color: $red;
      }
    }
  }
  .line{
    width: 100%;
    height: 1px;
    background-color: rgb(213, 213, 213);
    margin: 20px 0;
  }
  
}
/*-----------------------cloud-brand-show.html end----------------------*/

/*-----------------------activity-center.html start----------------------*/
.activity-banner{
  width: 100%;
  img{
    width: 100%;}
}
.activity-list{
  @extend %wrap-600;
  li{
    position: relative;
    margin-top: .5rem;
    height: 4.5rem;
    border-radius: 10px;
    overflow: hidden;
    img{
      width: 100%;
    }
    a{
      display: block;
    }
    span{
      position: absolute;
      top: 2rem;
      right: .75rem;
      width: .8rem;
      height: .8rem;
      line-height: .8rem;
      border: 2px solid $red;
      border-radius: .8rem;
      color: $red;
      text-align: center;
      font-family: icomoon;
    }
    &:nth-of-type(2) span{
      border: 2px solid $orange;
      color: $orange;
    }
    &:nth-of-type(3) span{
      border: 2px solid $blue;
      color: $blue;
    }
  }
}
/*-----------------------activity-center.html end----------------------*/

/*-----------------------how-levelup.html start----------------------*/
.how-leveup-item{
  width: 100%;
  border-bottom: 1px solid $border-color;
  h2{
    @extend %wrap-600;
    height: 2.1rem;
    line-height: 2.1rem;
    font-size: $fz16;
    border-bottom: 1px dotted $border-color;
  }
  p{
    padding: .4rem 0;
    @extend %wrap-600;
  }
  em{
    float: left;
    width: 2.5rem;
  }
  i{
    float: right;
    color: $font-color999;
  }
  span{
    margin-left: 3.5rem;
    float: left;
    width: 3rem;
    text-align: center;
  }
}
/*-----------------------how-levelup.html end----------------------*/

/*-----------------------sales-management.html start----------------------*/

.sales-item{
  width: 100%;
  border-bottom: 1px solid $border-color;
  h2{
    @extend %wrap-600;
    height: 2rem;
    line-height: 2rem;
    font-size: $fz16;
    border-bottom: 1px solid $border-color;
  }
  p{
    @extend %wrap-600;
    height: 1.55rem;
    line-height: 1.55rem;
    &:nth-of-type(1){
      border-bottom: 1px solid $border-color;
    }
    &:nth-of-type(2){
      border-bottom: 1px dotted $border-color;
    }
  }
  span,
  b{
    float: left;
    width: 3.7rem;
    height: 1.55rem;
    text-align: center;
  }
  .tacr{
    text-align: right;
  }
  .w100{
    width: 2.5rem;
  }
  .w196{
    width: 4.9rem;
  }
  .bdlr{
    position: relative;
    &:after{
      content: "";
      height: .65rem;
      position: absolute;
      top: .45rem;
      right: 0;
      width: 1px;
      background-color: $border-color;
    }
    &:before{
      content: "";
      position: absolute;
      top: .45rem;
      left: 0;
      height: .65rem;
      width: 1px;
      background-color: $border-color;
    }
  }
}
/*-----------------------sales-management.html end----------------------*/

/*-----------------------income.html start----------------------*/
.income-wrap{
  background-color: $bg-color;
}
.income-item{
  margin-top: .75rem;
  padding: 0 .5rem;
  background-color: #ffffff;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  .income-item-block{
    height: 2.15rem;
    line-height: 2.15rem;
    border-bottom: 1px solid $border-color;
    overflow: hidden;
    em{
      float: right;
      color: $font-color999;
    }
    .icon-r{
      font-size: $fz12;
    }
  }
  .bdn{
    border: 0 none;
  }
  p{
    padding: .65rem 0;
    color: $font-color666;
  }
  strong{
    color: $font-color333;
  }
}
/*-----------------------income.html end----------------------*/

/*-----------------------income-detail.html start----------------------*/
.income-tab{
    li{
      width: 33.3%;
    }
}
.income-list{
  @extend %wrap-600;
  li{
    position: relative;
    height: 2.5rem;
    border-bottom: 1px dotted $border-color;
    p{
      padding-top: .2rem;
    }
    i{
      position: absolute;
      top: .9rem;
      right: 0;
      font-family: icomoon;
      color: $font-color666;
      font-size: $fz14;
    }
    time{
      color: $font-color666;
      font-size: $fz12;
    }
    span{
      color: $font-color999;
      font-size: $fz12;
    }
  }
}
/*-----------------------income-detail.html end----------------------*/

/*-----------------------team-management-wrap.html start----------------------*/

.team-management-item{
  padding: 0 .5rem;
  border-bottom: 1px solid $border-color;
  overflow: hidden;
  h2{
    height: 2.2rem;
    line-height: 2.2rem;
    border-bottom: 1px solid $border-color;
  }
  .management-item-left,
  .management-item-right{
    margin: .35rem 0;
    float: left;
    width: 50%;
    height: 2.75rem;
    text-align: center;
  }
  .management-item-left{
    position: relative;
    &:after{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 2.75rem;
      background: $border-color;
    }
  }
  p{
    color: $font-color666;
  }
  b{
    color: $red;
    font-size: $fz18;
  }
}

/*-----------------------team-management-wrap.html end----------------------*/

/*-----------------------team-explain.html start----------------------*/
.team-explain-item{
  width: 100%;
  border-bottom: 1px solid $border-color;
  h2{
    @extend %wrap-600;
    height: 2rem;
    line-height: 2rem;
    font-size: $fz16;
    border-bottom: 1px dotted $border-color;
  }
  p{
    @extend %wrap-600;
    padding: .5rem 0 1rem 0;
  }
}
/*-----------------------team-explain.html end----------------------*/


/*-----------------------my-team.html start----------------------*/
.my-team-item{
  width: 100%;
  h2,h3{
    height: 2.2rem;
    line-height: 2.2rem;
  }
  h2{
    @extend %wrap-600;
    border-bottom: 1px dotted $border-color;
    a{
      float: right;
      width: 1rem;
      height: 2.2rem;
      line-height: 2.2rem;
      text-align: right;
    }
  }
  h3{
    padding: 0 .5rem;
    border-bottom: 1px solid $border-color;
  }
  span{
    padding-left: .5rem;
  }
}
.team-btn-wrap{
  @extend %wrap-600;
  padding-top: .5rem;
}
.my-team-btn{
  @extend %btn-100;
  width: 6.65rem;
  display: inline-block;
  background-color: $red;
  &:nth-of-type(2){
    background-color: $green;
    float: right;
  }
}
.my-team-list{
  @extend %wrap-600;
  li{
    position: relative;
    padding: .3rem 0;
    overflow: hidden;
    border-bottom: 1px dotted $border-color;
    i{
      position: absolute;
      top: 0;
      right: 0;
      line-height: 2.75rem;
    }
  }
  .my-team-pic{
    position: relative;
    margin: 0 1.1rem 0 0;
    float: left;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 2.1rem;
    border: 1px solid #fff;
    box-shadow: 1px 2px 3px #c0c0c0;
    img{
      width: 2.1rem;
      height: 2.1rem;
      border-radius: 2.1rem;
    }
    span{
      position: absolute;
      top: -.2rem;
      right: -.2rem;
      width: .9rem;
      height: .9rem;
      line-height: .85rem;
      display: block;
      background: $lvbg;
      -webkit-background-size: 100% auto;
      background-size: 100% auto;
      font-size: $fz12;
      text-align: center;
      color: #ffffff;
    }
  }
}
/*-----------------------my-team.html end----------------------*/


/*-----------------------material-library-show2.html start----------------------*/
.photo-show-wrap{
  background: #333333;
  height: 100%;
}
.photo-show{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.1rem;
  background-color: $font-color333;
  border-top: 1px solid #222222;
  overflow: hidden;
  li{
    float: left;
    width: 20%;
    height: 1.1rem;
    line-height: 1.1rem;
    text-align: center;
    font-family: icomoon;
    a{
      display: block;
      color: #ffffff;
    }
  }
  .play-btn{
    position: relative;
    &:before{
      content: "\f649";
      position: absolute;
    }
  }

}
.show-pic-con{
  margin: .5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  img{
    width: 100%;
  }
}
/*-----------------------material-library-show2.html end----------------------*/



/*-----------------------material-library-show.html start----------------------*/
.photo-show2{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.1rem;
  background-color: $font-color333;
  border-top: 1px solid #222222;
  overflow: hidden;
  li{
    float: left;
    width: 25%;
    height: 1.1rem;
    line-height: 1.1rem;
    text-align: center;
    font-family: icomoon;
    a{
      display: block;
      color: #ffffff;
    }
  }
  .play-btn{
    position: relative;
    &:before{
      content: "\f649";
      position: absolute;
    }
  }
}
/*-----------------------material-library-show.html end----------------------*/