@charset "utf-8";
/**
 * Created with IntelliJ IDEA. 
 * User: cy
 * Date: 2015/1/12 
 * Time: 11:05 
 * To change this template use File | Settings | File Templates. 
 */
html{
  font-size: 40rem;
}
@import "var";
@import "rest";
@import "input";
@import "btns";
@import "alert";
@import "mod-item";
@font-face {
  font-family: 'icomoon';
  src:url('../img/fonts/icomoon.eot');
  src:url('../img/fonts/icomoon.eot#iefix') format('embedded-opentype'),
  url('../img/fonts/icomoon.woff') format('woff'),
  url('../img/fonts/icomoon.ttf') format('truetype'),
  url('../img/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
img{
  width: 100%;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button[disabled],{
  cursor: default;
  background-color: $border-color;
  color: #FFFFFF;

}
input[type="checkbox"] {
  width:.6rem;
  height: .6rem;
  border: 1px solid $border-color;
  border-radius:.1rem;
  -o-border-radius:.1rem;
  -moz-border-radius:.1rem;
  -webkit-border-radius:.1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type="checkbox"]:checked {
  background: image-url("../img/or_img/sus-checked.png") 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
a{
  display: block;
}
.dn{
  display: none;
}
.f_right{
  float: right;
}
.or_height h2{
  height: 2.6rem;
  overflow: hidden;
}
.bor_bottom{
  border-bottom:1px solid $border-color;
}
.bor_top{
  border-top:1px solid $border-color;
}
.hidden{
  height: 1.3rem;
}
.p_bottom{
  padding-bottom: .4rem;
}
.p_bottom_1{
  padding-bottom: .2rem;
}
.p_top{
  padding-top: .4rem;

}
.m_top{
  margin-top: .4rem;
}
.m_bottom{
  margin-bottom: .4rem;
}
.m_top_2{
  margin-top: .8rem;
}
.orange{
  background-color: #ff9900;
}
.bor_bottom_1{
  border-bottom: 1px $border-color dashed;
}
.m_bootom_1{
  margin-bottom: 2.6rem;
}//用于底部控制高度
/*------------------确认订单order-confitm or-co-site ---------------------------*/
.or_top{
  overflow: hidden;
}
.or_top_char{
  color:$font-color333;
  font-size: $fz18;
  line-height: 2rem;
  float: left;
}
.or_top_null{
  float: right;
  font-size: $fz18;
  line-height: 2rem;
  color:$font-color666;
  span{
    color: #d0321d;
  }

}
.or_logo{
  padding-top:.4rem;
  padding-bottom: .4rem;
  font-size: $fz18;
  a{
    color: $font-color333;
    display: block;
  }
  img{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 1.8rem;
    -o-border-radius: 1.8rem;
    -moz-border-radius: 1.8rem;
    -webkit-border-radius: 1.8rem;
  }
  span{
    color: #d0321d;
  }
}

.or_img{
  padding: .1rem;

}

.or_count{
  padding-top: .3rem;
  padding-bottom: .3rem;
  overflow: hidden;
  border-bottom: 1px $border-color dashed;
  .or_count_1{
    float: left;
    line-height: 1.2rem;
    color: $font-color666;
  }
  .or_count_2{
    float: right;
    line-height: 1.2rem;
    color: $font-color333;
  }
}
.or_char{
  overflow: hidden;
  line-height: 2rem;
  .or_char_1{
    float: left;
    color: $font-color333;
  }
  .or_char_2{
    float: right;
    color: $font-color666;
  }
}
.or_site{
  color: $font-color333;
  line-height:1.8rem;
}
.or_textBox{
  overflow: hidden;
  margin-bottom: .4rem;
  .or_text{
    width:2.5rem;
    float: left;
    line-height: 1.3rem;
  }
  .text_w{
    width:12.4rem;
    float: left;
  }
}
.or_billBox{
  color: $font-color333;
  line-height: 1.5;
}
.or_bill{
  float: left;
  color: $font-color333;
  line-height: 2rem;
}
.or_bill_1{
  float: right;
  line-height: 2rem;
  color: $font-color999;
}
.or{
  line-height: 2;
}
.red_char{
  color: $red;
}
.green_char{
  color: $green;
}
/*-----------------------地址  mj-order-con.html ----------------------*/
.site_site{
  color: $font-color666;
  line-height: 1rem;
  float: left;
}
.site_site_0{
  color: $font-color333;
  line-height: 2;
}
.notice{
  background-color: #fffcf1;
  line-height: 1rem;
  font-size: .6rem;
  color: $font-color666;
  padding: .4rem;
  margin-bottom: .4rem;
}
.footer-weidai{
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #e02d2a;
  font-size: 6rem;
  margin-bottom: 2.6rem;
}
/*-----------------------正在支付 mj-ls-pay.html----------------------*/
.modBox{
  background-color: rgba(0,0,0,0.7);
  width:6rem;
  height:4rem;
  position: fixed;
  left: 30%;
  top: 15%;
}
.add-more{
  width:6rem;
  background-position: center;
  padding-left: 0;
}
.mod_add{
  font-size: 0.6rem;
  color: #ffffff;
  text-align: center;
}
.po_fi{
  position: fixed;
  bottom:.2rem;
  width: 100%;
  margin-bottom: .2rem;
}
.po_ac{
  margin-bottom: .2rem;
}
.po_ac_1{
  position: absolute;
  bottom: .4rem;
  margin-bottom: 0;
}
/*-----------------------支付成功 pay-success.html ----------------------*/
.icon-pay_s{
  font-size: 3.5rem;
  margin-top: 1rem;
  color:$green;
  text-align: center;

}
.pay_s_char{
  color: $font-color333;
  line-height: 2.5rem;
  text-align: center;
}
.pay_input{
  overflow: hidden;
  width: 50%;
  margin: 0 auto;
  .pay_l{
    float: left;
  }
  .pay_r{
    float: right;}
}
.pay_s_text{
  margin-top: .8rem;
  font-size: .6rem;
  text-align: center;
  color: $font-color666;
}
/*-----------------------支付失败 pay_failed.html ----------------------*/
.icon-pay_f{
  font-size: 3.5rem;
  margin-top: 1rem;
  color:$red;
  text-align: center;
}
/*-----------------------我的收藏-店铺 collect-store.html----------------------*/


.coll_top{
  width: 100%;
  border-top: 1px solid $border-color;
  overflow: hidden;
  li{
    position: relative;
    float: left;
    width: 50%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-bottom: 1px solid $border-color;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      border-right: 1px solid $border-color;
      height: 100%;
    }
    &:last-child:before{
      border-right: 0 none;
    }
  }
  .coll_1{
    border-bottom: 1px solid $red;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHBAMAAADDgsFQAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAMFBMVEUAAADQMh3QMh3QMh3QMh3QMh3QMh3QMh3QMh3QMh3QMh3QMh3QMh3QMh3QMh0AAADcrmEfAAAADnRSTlMAA7c8fuQVQvy6GOe9gZdCRjsAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAALUlEQVQI12NgYBBgAAFlEMHyNAFIVrybwMDAte/dEwYGmXfvXhQw3Hv37t0uAKQaDb+LHVEFAAAAAElFTkSuQmCC) 50% 100% no-repeat;
    -webkit-background-size: .25rem auto;
    background-size: .25rem auto;
    a{
      color: $red;
    }
  }
  a{
    display: block;
    color: $font-color333;
  }
  i{
    color: $red;

  }
}
.icon-red{
  line-height: 1.8rem;
  color: $red;
  font-size: .8rem;
}
/*-----------------------我的收藏-商品 collect-comm.html----------------------*/
.coll_com{
  font-size: .6rem;
  line-height: .7rem;
  color: $font-color333;
  div{
    height: 1.4rem;
    overflow: hidden;
  }
  p{
    font-size: .6rem;
    line-height: .9rem;
  }
  em{
    color: $red;
  }
}
.icon-red_1{
  line-height: 2.95rem;
  color: $red;
  font-size: .8rem;
}
/*-----------------------我的地址 my-site.html----------------------*/
.my_site{
  line-height: 2rem;
}

.my_ul{
  overflow: hidden;
  li{
    float: left;
    width: 100%;
  }

  .icon-my_s{
    font-size: .6rem;
    line-height: 1rem;
    float: left;
    color: $red;
  }
  .my_li_char{
    float: left;
    width:13rem;
    line-height: 1rem;
    margin-left: .4rem;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    color: $font-color333;
  }
  .my_li_r{
    float: right;
    line-height: 1rem;
    font-size: .7rem;
    color: $green;
    span{
      color: $font-color999;
    }
  }
}
.red{
  background-color: $red;
}
/*-----------------------新增发票 bill-add.html----------------------*/
.bill_add_text{
  width:3.5rem;
  float: left;
  line-height: 1.3rem;
}
.text_w_1{
  width:11.5rem;
  float: left;

}
/*-----------------------意见反馈 opinion.html ----------------------*/
.sec_lose{
  width:50%;
  height:3.5rem;
  background:rgba(0,0,0,0.7);
  position:fixed;
  left:25%;
  right: 25%;
  top:30%;
  text-align: center;color: #FFFFFF;
  line-height: 3.5rem;

}
/*-------------------卖家中心 centre.html--------------------------*/
.cen_red{
  background-color: $red;
  height: 4rem;

  .cen_char{
    text-align: center;
    color: #FFFFFF;
    line-height: 2.5rem;
    width: 14rem;
    margin: 0 auto;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-shadow: 0px 1px 2px #000;
    font-weight: bold;

  }

}
.cen_head{
  position: absolute;
  top:2.4rem;
  left: 6.3rem;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 3.2rem;
  -o-border-radius: 3.2rem;
  -moz-border-radius: 3.2rem;
  -webkit-border-radius: 3.2rem;
  border: 3px solid #FFFFFF;
  img{
   width: 100%;
    border-radius: 3.2rem;
    -o-border-radius: 3.2rem;
    -moz-border-radius: 3.2rem;
    -webkit-border-radius: 3.2rem;
  }
}
.cen_top{
  margin-top: 1.6rem;
}
.icon-c{
  line-height: 1.7rem;
  color:$font-color666;
  font-size: .8rem;
  a{
    display: block;
    height: 1.7rem;
  }
  i{
    width: .8rem;
    height:.8rem;
    background-color: $red;
    display: block;
    color: #FFFFFF;
    font-size: .6rem;
    line-height: .8rem;
    border-radius: .8rem;
    -o-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -webkit-border-radius: .8rem;
    text-align: center;
    margin-top: .5rem;
    float: left;
    margin-left: .4rem;
    letter-spacing: -.1rem;
  }
  div{
    float: left;
  }

}

