@charset "utf-8";
/**
 * Created with IntelliJ IDEA. 
 * User: llc 
 * Date: 2015/1/6 
 * Time: 11:11 
 * To change this template use File | Settings | File Templates. 
 */

@import "var";
@import "rest";
@import "input";
@import "btns";
@import "alert";
@import "mod-item";

/*-----------------------my-indent.html star----------------------*/
.my-indent-wrap{
  .sort-class{
    li{
      text-align: left;
      text-indent: .9rem;
      i{
        float: right;
        color: $green;
        font-family: 'icomoon';
      }
    }
  }
}
.ident-item-wrap{
  @extend %wrap-640;
  border-bottom: 1px solid $border-color;
  .m-list-info-item{
    border-bottom: 1px dotted $border-color;
    &:nth-last-of-type(1){
      border: 0 none;
    }
  }
}
.ident-item-state{
  @extend %wrap-600;
  height: 2.35rem;
  line-height: 2.35rem;
  border-bottom: 1px dotted $border-color;
  .indent-item-pic{
    margin-top: .4rem;
    margin-right: .5rem;
    float: left;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
  }
  span{
    font-family: 'icomoon';
    color: $red;
  }
  i{
    float: right;
    color: $red;
  }
}
.ident-item-subtotal{
  padding: 0 .5rem;
  height: 2rem;
  line-height: 2rem;
  i{
    float: left;
    color: $font-color666;
  }
  em{
    padding-left: .75rem;
    float: right;
    color: $font-color666;
  }
  span{
    color: $red;
  }
}
.ident-btns-wrap{
  position: relative;
  height: 2.95rem;
  border-top: 1px solid $border-color;
  .down-btn{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -.8rem;
    width: 1.6rem;
    height: .75rem;
    line-height: .75rem;
    border: 1px solid $border-color;
    border-top: 0 none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #cccccc;
    text-align: center;
    font-family: 'icomoon';
  }
}
.ident-btn{
  margin: 1.25rem .5rem 0 0;
  float: right;
}
/*-----------------------my-indent.html end----------------------*/

/*-----------------------my-indent-dfh.html----------------------*/
.my-indent-dfh-wrap{
  width: 100%;
  border-bottom: 1px solid $border-color;
}
.dfh-list{
  @extend %wrap-600;
  li{
    height: 1.45rem;
    line-height: 1.45rem;
    border-bottom: 1px dotted $border-color;
    label{
      float: left;
      width: 3.5rem;
    }
  }
}
.dfh-info{
  @extend %wrap-600;
  padding: .5rem 0;
  label{
    float: left;
    width: 3.5rem;
  }
  p{
    padding-left: 3.5rem;
    color: $font-color666;
  }
}
.dfh-btn{
  @extend %btn-k;
  width: 3rem;
  height: 1rem;
  line-height: 1rem;
  border-color: $red;
  color: $red;
 }
.dfh-info-in{
  @extend %wrap-600;
  height: 1.8rem;
  line-height: 1.8rem;
  color: $font-color666;
  a{
    display: block;
  }
  span{
    font-family: 'icomoon';
    float: right;
  }
}
.dfn-foot-btn{
  height: 2.25rem;
  background-color: #f8f8f8;
  border-top: 1px solid $border-color;
  .m-button-k{
    margin: .55rem .3rem 0 0;
    float: right;
  }
}
/*-----------------------my-indent-dfh.html----------------------*/

/*-----------------------money-flowl.html start----------------------*/
.money-flow-tt{
  @extend %wrap-600;
  height: 2rem;
  line-height: 2rem;
  border-bottom: 1px dotted $border-color;
  span{
    float: right;
    color: $red;
  }
}
.number-flow{
  margin: 1.75rem auto 0 auto;
  width: 11rem;
  height: .8rem;
  li{
    position: relative;
    z-index: 2;
    float: left;
    height: .8rem;
    overflow: hidden;
    &:after{
      content: "";
      position: absolute;
      z-index: -1;
      top: .35rem;
      left: 0;
      width: 100%;
      height: .15rem;
      background-color: #c4c0bc;
    }
    &:nth-of-type(1){
      width: 2.75rem;
      span{
        float: left;
      }
    }
    &:nth-of-type(2){
      width: 5.5rem;
      span{
        margin: 0 auto;
        display: block;
      }
    }
    &:nth-of-type(3){
      width: 2.75rem;
      span{
        float: right;
      }
    }
    &:nth-of-type(4){

    }
  }
  .active-number-flow{
    span{
      background-color: $green;
    }
    &:after{
      background-color: $green;
    }
  }
  span{
    width: .8rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    color: #ffffff;
    background-color: #c4c0bc;
    border-radius: .8rem;
  }
}
.number-flow-info{
  margin-top: .45rem;
  width: 100%;
  overflow: hidden;
  li{
    float: left;
    width: 33.3%;
    text-align: center;
    overflow: hidden;
  }
  .active-number-flow-info{
    color: $green;
  }
}
/*-----------------------money-flowl.html end----------------------*/

/*-----------------------evaluate.html start----------------------*/
.evaluate-tt{
  padding-left: .5rem;
  height: 1.875rem;
  line-height: 1.875rem;
  border-bottom: 1px solid $border-color;
}
.evaluate-item{
  border-bottom: 1px solid $border-color;
}
/*-----------------------evaluate.html end----------------------*/
