@charset "utf-8";
/**
 * Created with IntelliJ IDEA. 
 * User: llc 
 * Date: 2015/1/6 
 * Time: 11:11 
 * To change this template use File | Settings | File Templates. 
 */

@import "var";
@import "rest";
@import "input";
@import "btns";
@import "alert";
@import "mod-item";

/*-----------------------my-indent.html star----------------------*/
.my-indent-wrap{
  .sort-class{
    li{
      text-align: left;
      text-indent: .9rem;
      i{
        float: right;
        color: $green;
        font-family: 'icomoon';
      }
    }
  }
}
.ident-item-wrap{
  @extend %wrap-640;
  border-bottom: 1px solid $border-color;
  .m-list-info-item{
    border-bottom: 1px dotted $border-color;
    &:nth-last-of-type(1){
      border: 0 none;
    }
  }
}
.ident-item-state{
  @extend %wrap-600;
  height: 2.35rem;
  line-height: 2.35rem;
  border-bottom: 1px dotted $border-color;
  .indent-item-pic{
    margin-top: .4rem;
    margin-right: .5rem;
    float: left;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
  }
  span{
    font-family: 'icomoon';
    color: $red;
  }
  i{
    float: right;
    color: $red;
  }
}
.ident-item-subtotal{
  padding: 0 .5rem;
  height: 2rem;
  line-height: 2rem;
  i{
    float: left;
    color: $font-color666;
  }
  em{
    padding-left: .75rem;
    float: right;
    color: $font-color666;
  }
  span{
    color: $red;
  }
}
.ident-btns-wrap{
  position: relative;
  height: 2.95rem;
  border-top: 1px solid $border-color;
  .down-btn{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -.8rem;
    width: 1.6rem;
    height: .75rem;
    line-height: .75rem;
    border: 1px solid $border-color;
    border-top: 0 none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #cccccc;
    text-align: center;
    font-family: 'icomoon';
  }
}
.ident-btn{
  margin: 1.25rem .5rem 0 0;
  float: right;
}
/*-----------------------my-indent.html end----------------------*/

/*-----------------------my-indent-dfh.html----------------------*/
.my-indent-dfh-wrap{
  width: 100%;
  border-bottom: 1px solid $border-color;
}
.dfh-list{
  @extend %wrap-600;
  li{
    height: 1.45rem;
    line-height: 1.45rem;
    border-bottom: 1px dotted $border-color;
    label{
      float: left;
      width: 3.5rem;
    }
  }
  .bdn{
    border: 0 none;}
}
.dfh-info{
  @extend %wrap-600;
  padding: .5rem 0;
  label{
    float: left;
    width: 3.5rem;
  }
  p{
    padding-left: 3.5rem;
    color: $font-color666;
  }
}
.dfh-btn{
  @extend %btn-k;
  width: 3rem;
  height: 1rem;
  line-height: 1rem;
  border-color: $red;
  color: $red;
 }
.dfh-info-in{
  @extend %wrap-600;
  height: 1.8rem;
  line-height: 1.8rem;
  color: $font-color666;
  a{
    display: block;
  }
  span{
    font-family: 'icomoon';
    float: right;
  }
}
.dfn-foot-btn{
  height: 2.25rem;
  background-color: #f8f8f8;
  border-top: 1px solid $border-color;
  .m-button-k{
    margin: .55rem .3rem 0 0;
    float: right;
  }
}
/*-----------------------my-indent-dfh.html----------------------*/

/*-----------------------money-flowl.html start----------------------*/
.money-flow-tt{
  @extend %wrap-600;
  height: 2rem;
  line-height: 2rem;
  border-bottom: 1px dotted $border-color;
  span{
    float: right;
    color: $red;
  }
}
.number-flow{
  margin: 1.75rem auto 0 auto;
  width: 11rem;
  height: .8rem;
  li{
    position: relative;
    z-index: 2;
    float: left;
    height: .8rem;
    overflow: hidden;
    &:after{
      content: "";
      position: absolute;
      z-index: -1;
      top: .35rem;
      left: 0;
      width: 100%;
      height: .15rem;
      background-color: #c4c0bc;
    }
    &:nth-of-type(1){
      width: 2.75rem;
      span{
        float: left;
      }
    }
    &:nth-of-type(2){
      width: 5.5rem;
      span{
        margin: 0 auto;
        display: block;
      }
    }
    &:nth-of-type(3){
      width: 2.75rem;
      span{
        float: right;
      }
    }
    &:nth-of-type(4){

    }
  }
  .active-number-flow{
    span{
      background-color: $green;
    }
    &:after{
      background-color: $green;
    }
  }
  span{
    width: .8rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    color: #ffffff;
    background-color: #c4c0bc;
    border-radius: .8rem;
  }
}
.number-flow-info{
  margin-top: .45rem;
  width: 100%;
  overflow: hidden;
  li{
    float: left;
    width: 33.3%;
    text-align: center;
    overflow: hidden;
  }
  .active-number-flow-info{
    color: $green;
  }
}
/*-----------------------money-flowl.html end----------------------*/

/*-----------------------evaluate.html start----------------------*/
.evaluate-tt{
  padding-left: .5rem;
  height: 1.875rem;
  line-height: 1.875rem;
  border-bottom: 1px solid $border-color;
}
.evaluate-item{
  border-bottom: 1px solid $border-color;
}
.evaluate-star{
  @extend %wrap-600;
  border-bottom: 1px dotted $border-color;
  height: 1.75rem;
  line-height: 1.75rem;
  em{
    float: left;
  }
}
.evaluate-textarea{
  margin: .5rem auto;
  width: 15rem;
}
.evaluate-btn{
  margin: .5rem auto;
  width: 15rem;
  background-color: $red;
}
/*-----------------------evaluate.html end----------------------*/

/*-----------------------logistics-info.html start----------------------*/
.logistics-info-tt{
  padding: .4rem 0;
  height: 1.5rem;
  border-bottom: 1px solid $border-color;
  .logistics-pic{
    margin: 0 .6rem 0 .5rem;
    float: left;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
  }
  p{
    line-height: 1.2;
    color: $font-color666;
  }
}
.logistics-item{
  padding: 0 .5rem;
  border-bottom: 1px solid $border-color;

  .logistics-item-subtotal{
    height: 2rem;
    line-height: 2rem;
    em{
      color: $font-color666;
    }
    i{
      float: right;
      color: $font-color666;
    }
    span{
      color: $red;
    }
  }
}
.logistics-item-tt{
    height: 2rem;
    line-height: 2rem;
    border-bottom: 1px dotted $border-color;
}
.logistics-list{
  padding-left: 1.1rem;
  @extend %wrap-600;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  li{
    position: relative;
    margin: .5625rem 0;
    color: $font-color666;
    &:before{
      position: absolute;
      top: .25rem;
      left: -1rem;
      z-index: 2;
      content: "";
      width: .4rem;
      height: .4rem;
      border-radius: .4rem;
      border: .075rem solid #eee;
      background-color: #eee;
    }
    &:nth-of-type(1){
      &:before{
        background-color: $green;
        border: .075rem solid #94d8b6;
      }
    }
    p{
      &:before{
        content: "";
        position: absolute;
        z-index: 1;
        top: .8rem;
        left: -1rem;
        border-right: .1rem solid #eee;
        width: .22rem;
        height: 100%;
      }
    }
  }
}
/*-----------------------logistics-info.html end----------------------*/

/*-----------------------apply-refun.html start----------------------*/
.apply-refun-item{
  margin-top: .75rem;
  width: 100%;
  label{
    float: left;
    width: 3.5rem;
  }
  .apply-refun-input{
    width: 11.5rem;
  }
  span{
    font-size: $fz12;
    color: $red;
  }
  p{
    color: $font-color666;
    font-size: $fz12;
    text-align: center;
  }
}
/*-----------------------apply-refun.html end----------------------*/

/*-----------------------refun-succeed.html start----------------------*/
.refun-succeed-con{
  padding: 0 .5rem;
  border-bottom: 1px solid $border-color;
  h2{
    height: 2rem;
    line-height: 2rem;
    border-bottom: 1px dotted $border-color;
    span{
      font-size: $fz16;
      font-family: 'icomoon';
    }
  }
  p{
    margin: .4rem 0;
  }
  .refun-succeed-btn{
    margin-bottom: .5rem;
    background-color: $red;
  }
  em{
    color: $font-color666;
  }
}
.refun-succeed-list{
  @extend %wrap-600;
  li{
    height: 1.75rem;
    line-height: 1.75rem;
    border-bottom: 1px dotted $border-color;
    em{
      color: $font-color666;
    }
  }
}
/*-----------------------refun-succeed.html end----------------------*/

/*-----------------------apply-refun-wait.html start----------------------*/
.refun-wait-wrap{

}
.refun-wait-btns{
  padding-bottom: .5rem;
  @extend %wrap-600;
  .rw-btn{
    float: left;
    margin-left: 1.3rem;
    width: 6rem;
  }
}
.rw-ifo{
  padding-top: .7rem;
  color: $font-color666;
  font-size: $fz12;
  text-align: center;
}
.rw-ifo2{
  margin: .5rem 0;
  text-align: center;
  em{
    color: $font-color666;
  }
}
.rw-ifo3{
  margin: .5rem 0;
  text-align: center;
  color: $font-color666;
  font-size: $fz12;
}
/*-----------------------apply-refun-wait.html end----------------------*/

/*-----------------------apply-refun-sales.html start----------------------*/
.refun-sales-address{
  padding: .75rem .5rem;
  border-bottom: 1px solid $border-color;
  overflow: hidden;
  label{
    float: left;
    width: 3.5rem;
  }
  i{
    padding-left: 3.5rem;
    display: block;
    color: $font-color666;
  }
}
/*-----------------------apply-refun-sales.html end----------------------*/

/*-----------------------apply-refun-weixin.html start----------------------*/
.ar-weixin{
  p{
    padding: .75rem 0;
    color: $red;
    font-size: $fz12;
    text-align: center;
  }
  .ar-weixin-input{
    height: 6.75rem;
  }
  .m-button{
    background-color: $red;}
}
/*-----------------------apply-refun-weixin.html end----------------------*/
