@charset "utf-8";
/**
 * Created with IntelliJ IDEA. 
 * User: llc 
 * Date: 2015/1/9 
 * Time: 9:26 
 * To change this template use File | Settings | File Templates. 
 */

@import "var";
@import "rest";
@import "input";
@import "btns";
@import "alert";
@import "mod-item";

/*-----------------------faq-list.html start----------------------*/
.faq-list{
  margin-top: .25rem;
  margin-bottom: 1rem;
  width: 100%;
  overflow: hidden;
  li{
    height: 1.85rem;
    border-bottom: 1px dotted $border-color;
    line-height: 1.85rem;
  }
  span{
    margin-top: .7rem;
    margin-right: .4rem;
    float: left;
    width: .075rem;
    height: .425rem;
    background: $red;
  }
  a{
    display: block;
    color: $font-color333;
  }
}
/*-----------------------faq-list.html end----------------------*/

/*-----------------------shop-index.html start----------------------*/
.shop-index-wrap{
  background: $bg-color;
  padding-bottom: 2.5rem;
}
.shop-index-head{
  height: 1.55rem;
  border: 1px solid $border-color;
  .shop-logo{
    float: left;
    margin: .2rem .6rem 0 .3rem;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 1.1rem;
    border: 1px solid #fff;
  }
  h2{
    float: left;
    height: 1.55rem;
    line-height: 1.55rem;
    color: $font-color333;
  }
  .icon-gz,
  .icon-sc{
    float: right;
    margin-top: .15rem;
    width: 2.05rem;
    height: 1.55rem;
    text-align: center;
    a{
      display: block;
    }
    p{
      font-size: .6rem;
      &:nth-of-type(1){
        color: $red;
      }
    }
  }
}
.shop-banner{
  margin-top: .075rem;
  height: 7rem;
}
.slide
{
  position:relative;
  width:100%;
  margin:0 auto;
}

.slide:after
{
  content:'';
  display:block;
  width:100%;
  padding-top:43%;
}

.slide ul
{
  position:absolute;
  left:0;
  top:0;
  width:100%;
}

.slide li
{
  list-style:none;
  position:absolute;
  left:0;
  top:0;
  width:100%;
}

.slide li img
{
  width:100%;
  display:block;
  border:none;
  margin:0 auto;
}

.slide .dot
{
  position:absolute;
  left:50%;
  margin-left:-1.075rem;
  bottom: .3rem;
  font-size:0;
}

.slide .dot span
{
  margin-right: .2rem;
  float: left;
  width:.3rem;
  height:.3rem;
  background:#721019;
  border-radius:.6rem;
  border: 1px solid $border-color;
}

.slide .dot .cur
{
  border: 0 none;
  background-color:#fe2171;
}
.shop-index-wrap .shop-index-search{
  position: relative;
  margin-top: .7rem;
  @extend %wrap-600;
  height: 1.1rem;
  line-height: 1.1rem;
  border: 1px solid $border-color;
  border-radius: 5px;
  display: block;
  font-size: $fz12;
  font-family: 'icomoon';
  text-indent: .3rem;
}
.shop-index-list{
  padding-top: .65rem;
  padding-bottom: .75rem;
  width: 100%;
  border-bottom: 1px solid $border-color;
  overflow: hidden;
  li{
    float: left;
    width: 25%;
    &:nth-of-type(1) .icon-tool{
      background: #94ce68;
    }
    &:nth-of-type(2) .icon-tool{
      background: #fdb747;
    }
    &:nth-of-type(3) .icon-tool{
      background: #fa6569;
    }
    &:nth-of-type(4) .icon-tool{
      background: #58b5e1;
    }
    p{
      padding-top: .25rem;
      text-align: center;
    }
    a{
      display: block;
    }
  }
  .icon-tool{
    margin: 0 auto;
    width: 2.1rem;
    height: 2.1rem;
    line-height: 2.1rem;
    border-radius: 2.1rem;
    text-align: center;
    color: #ffffff;
    font-size: 1.1rem;
  }
}
.shop-index-tj{
  width: 100%;
  overflow: hidden;
}
.shop-index-tt{
  padding: .5rem 0;
  @extend %wrap-600;
  margin-bottom: .25rem;
  border-bottom: 1px solid $border-color;
  h2{
    padding-left: .3rem;
    height: .7rem;
    line-height: .7rem;
    color: #333333;
    border-left: 2px solid $red;
    a{
      float: right;
      width: 1rem;
      height: 100%;
      line-height: .3rem;
      font-weight: bold;
    }
  }
}
.shop-index-tj-item{
  @extend %wrap-600;
  margin-bottom: .45rem;
  padding: .25rem;
  border: 1px solid $border-color;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  img{
    width: 100%;
    height: 7.5rem;
  }
  .shop-index-tj-item-info{
    margin-top: .2rem;
    height: 1.85rem;
    overflow: hidden;
    a{
      width: 10rem;
      float: left;
      color: #333333;
      line-height: 1.3;
    }
    em{
      width: 3.75rem;
      height: 1.85rem;
      line-height: 1.85rem;
      float: right;
      background: $red;
      text-align: center;
      color: #ffffff;
      font-size: $fz16;
    }
    i{
      font-size: $fz12;
    }
  }
}
.shop-index-rm{
  width: 100%;
  overflow: hidden;
}
.shop-index-rm-item{
  float: left;
  margin-left: .5rem;
  margin-bottom: .5rem;
  padding-bottom: .5rem;
  width: 7.25rem;
  border: 1px solid $border-color;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .shop-index-rm-pic{
    padding: .25rem;
    height: 6.7rem;
    border-bottom: 1px solid $border-color;
    overflow: hidden;
  }
  .rm-img{
    width: 100%;
    height: 6.7rem;
  }
  h2{
    margin: .4rem auto;
    width: 6.4rem;
    height: 2.2rem;
    overflow: hidden;
  }
  .shop-index-rm-btn{
    margin: 0 auto;
    width: 6.4rem;
    height: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    color: #ffffff;
    background: $red;
    display: block;
  }
}
/*-----------------------shop-index.html end----------------------*/